
{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        {% if messages %}
            <ul class="messages"></ul>
        {% endif %}
        <form method="POST" >
            {% csrf_token %}
                <legend class="border-bottom mb-4">Blog Post</legend>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input class="form-control" type="text" id="title" placeholder="Write a title.."  name="title" required {{ form.title }} </input>
                </div>
                <div class="form-group"> 
                    <label for="category">Category:</label>
                    <select name="category" class="custom-select" {{ form.category }} </select>
                </div>
                <div class="form-group">
                    <label for="tag">Tag:</label>
                    <div id="remote">
                        <input class="typeahead" type="text" name="tags"  autocomplete="off" placeholder="Enter Tag">
                    </div>
                </div>
                <div class="form-group"> 
                    <label for="content">Content:</label>
                    <textarea class="form-control" rows="7"  id="content" {{ form.content }} </textarea> 
                </div>
                <div class="form-group"> 
                    <div class="btn btn-primary btn-sm"> {{ form.image }} </div> 
                    {% comment %} <button class="btn btn-primary" type="submit">Upload</button> {% endcomment %}
                </div>
                <div class="form-group"> 
                    <label for="public">Public:</label>
                    {{ form.public }}
                </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}