{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
              <small class="text-muted">Date Posted :{{ post.date_posted }}</small>
              <small class="text-muted">Category:<a class="mr-2" href="{% url 'category-posts' post.category.name %}">{{ post.category }}</a></small>
              {% if object.author == user %}
                 <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1"  href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1"  href="{% url 'post-delete' object.id %}">Delete</a>
                 </div>
              {% endif %}
            </div>
            <h2 class="article-title"> {{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {{ total_likes }} Like{{ total_likes|pluralize}}
            <form action="{% url 'like_post' %}" method='post'>
              {% csrf_token %}
              <input type="hidden" value="{{ request.get_full_path }}" name="redirect_url">
              {% if is_liked %}       
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Dislike</button>
              {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
              {% endif %}
            </form> 
          </div>
         
{% endblock content %} 
