{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3">Posts In {{ view.kwargs.name }} Tag ({{ page_obj.paginator.count }})</h1>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.obj.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.obj.author.username %}">{{ post.obj.author }}</a>
              <small class="text-muted">Date Post: {{ post.obj.date_posted }}</small>
              <small class="text-muted">Category:<a class="mr-2" href="{% url 'category-posts' post.obj.category.name %}">{{ post.obj.category }}</a></small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.obj.id %}">{{ post.obj.title }}</a></h2>
            <div class="content-section-post">
              <p class="article-content">{{ post.obj.content }}</p>
            </div>
            <small class="text-muted">Public Status: {{ post.obj.public }}</small>
            <div></div>
            {{ post.obj.total_likes }} Like{{ post.obj.total_likes|pluralize}}
            <form action="{% url 'like_post' %}" method='post' class="form-like">
              {% csrf_token %}
              {% if post.is_liked %}
                <button type="submit" name="post_id" value="{{ post.obj.id }}" class="btn btn-danger btn-sm">Dislike</button>
              {% else %}
                <button type="submit" name="post_id" value="{{ post.obj.id }}" class="btn btn-primary btn-sm">Like</button>
              {% endif %}
              <input type="hidden" name="redirect_url" value="{{ request.get_full_path  }}"/>
            </form> 
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}


      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}


      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    

    {% endif %}
{% endblock content %} 